<div class="container">
    <div class="content">
        <div class="logo">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
        <div class="text-message">
            <h1>Have you forgot your password? 
                Do not worry!! An email will be sent to you to confirm your identity.</h1>
        </div>
        <div class="form-content">
            <input type="text" placeholder="Enter your email address">
            <button>Send code</button>
        </div>
    </div>
</div>