<div class="container">
    <div class="content">
        <div class="logo">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
        <div class="text-message">
            <h1>Have you forgot your password? 
                Do not panic!! An email will be sent to you to update your password.</h1>
        </div>
        <div class="form-content">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="resetPasswordForm" type="text" placeholder="Enter your email address">
            </mat-form-field>
            <button (click)="sendCode()">Send code</button>
        </div>
    </div>
    <app-snackbar></app-snackbar>
    <app-progress-spinner [isLoading]="isLoading" [message]="'Sending Email'"></app-progress-spinner>
</div>