<div class="container">
    <div class="content">
        <div class="logo">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
        <div class="text-message">
            <h1>{{"verifyAccount.title" | translate}}</h1>
        </div>
        <div class="form-content">
            <mat-form-field appearance="outline">
                <mat-label>{{"verifyAccount.email.label" | translate}}</mat-label>
                <input matInput [formControl]="resetPasswordForm" type="text" placeholder="{{'verifyAccount.email.placeholder' | translate}}">
            </mat-form-field>
            <button (click)="sendCode()">{{"verifyAccount.button" | translate}}</button>
        </div>
    </div>
    <app-snackbar></app-snackbar>
    <app-progress-spinner [isLoading]="isLoading" [message]="'Sending Email'"></app-progress-spinner>
</div>