<div class="container">
    <div class="content">
        <div class="logo">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
        <div class="text-message">
            <h1>{{"resetPassword.title" | translate}}</h1>
        </div>
        <form [formGroup]="updatePasswordForm">
            <div class="form-content">
                <mat-form-field appearance="outline">
                    <mat-label>Code</mat-label>
                    <input formControlName="code" matInput type="text" placeholder="Code">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{"login.username.label" | translate}}</mat-label>
                    <input formControlName="username" matInput type="text" placeholder="{{'login.username.placeholder' | translate}}">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{"login.password.label" | translate}}</mat-label>
                    <input formControlName="password" matInput [type]="password" placeholder="{{'login.password.placeholder' | translate}}">
                    @if (!showPassword) {
                        <mat-icon (click)="onPasswordClick()" matSuffix>remove_red_eye</mat-icon>
                    }@else {
                        <mat-icon (click)="onPasswordClick()" matSuffix>visibility_off</mat-icon>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{"resetPassword.confirmPassword.label" | translate}}</mat-label>
                    <input [formControl]="confirmPassword" matInput [type]="confPassword" placeholder="{{'resetPassword.confirmPassword.placeholder' | translate}}">
                    @if (!showConfPassword) {
                        <mat-icon (click)="onConfPasswordClick()" matSuffix>remove_red_eye</mat-icon>
                    }@else {
                        <mat-icon (click)="onConfPasswordClick()" matSuffix>visibility_off</mat-icon>
                    }
                </mat-form-field>
                <button (click)="resetPassword()">{{"resetPassword.button" | translate}}</button>
            </div>
        </form>
    </div>
    <app-snackbar></app-snackbar>
    <!--<app-progress-spinner [isLoading]="isLoading" [message]="'Sending Email'"></app-progress-spinner>-->
</div>