<div class="container">
    <div class="content">
        <div class="logo">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
        <div class="text-message">
            <h1>Reset Password</h1>
        </div>
        <form [formGroup]="updatePasswordForm">
            <div class="form-content">
                <input formControlName="code" type="text" placeholder="Code">
                <input formControlName="username" type="text" placeholder="Enter your username">
                <input formControlName="password" type="password" placeholder="Enter your new password">
                <input [formControl]="confirmPassword" type="password" placeholder="Confirm your new password">
                <button (click)="resetPassword()">Reset Password</button>
            </div>
        </form>
    </div>
    <app-snackbar></app-snackbar>
    <!--<app-progress-spinner [isLoading]="isLoading" [message]="'Sending Email'"></app-progress-spinner>-->
</div>