<div class="container">
    <div class="content">
        <div class="logo">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
        <div class="text-message">
            <h1>Reset Password</h1>
        </div>
        <form [formGroup]="updatePasswordForm">
            <div class="form-content">
                <mat-form-field appearance="outline">
                    <mat-label>Code</mat-label>
                    <input formControlName="code" matInput type="text" placeholder="Code">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput type="text" placeholder="Enter your username">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput [type]="password" placeholder="Enter your new password">
                    @if (!showPassword) {
                        <mat-icon (click)="onPasswordClick()" matSuffix>remove_red_eye</mat-icon>
                    }@else {
                        <mat-icon (click)="onPasswordClick()" matSuffix>visibility_off</mat-icon>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input [formControl]="confirmPassword" matInput [type]="confPassword" placeholder="Confirm your new password">
                    @if (!showConfPassword) {
                        <mat-icon (click)="onConfPasswordClick()" matSuffix>remove_red_eye</mat-icon>
                    }@else {
                        <mat-icon (click)="onConfPasswordClick()" matSuffix>visibility_off</mat-icon>
                    }
                </mat-form-field>
                <button (click)="resetPassword()">Reset Password</button>
            </div>
        </form>
    </div>
    <app-snackbar></app-snackbar>
    <!--<app-progress-spinner [isLoading]="isLoading" [message]="'Sending Email'"></app-progress-spinner>-->
</div>