<div class="container">
    <div class="content">
        <div class="logo">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
        <div class="text-message">
            <h1>Welcome to your restaurant management system</h1>
        </div>
        <div class="form-content">
            <input type="text" placeholder="Enter your username">
            <input type="password" placeholder="Enter your password">
            <a routerLink="/reset-password">Forgot your password?</a>
            <button>Login</button>
        </div>
    </div>
</div>