<div class="container">
    <div class="content">
        <div class="logo">
            <img src="../../../assets/img/logo.svg" alt="">
        </div>
        <div class="text-message">
            <h1>Welcome to your restaurant management system</h1>
        </div>
        <form [formGroup]="authRequestForm">
        <div class="form-content">
                <input formControlName="username" type="text" placeholder="Enter your username">
                <input formControlName="password" [type]="password" placeholder="Enter your password">
                <fa-icon class="fas" aria-hidden="true" (click)="onClick()" *ngIf="show" [icon]="faEye"></fa-icon>
                <fa-icon class="fas" aria-hidden="true" (click)="onClick()" *ngIf="!show" [icon]="faEyeSlash"></fa-icon>
                <a routerLink="/reset-password">Forgot your password?</a>
                <button id="login-btn" (click)="login()">Login</button>
            </div>
        </form>
    </div>
    <app-snackbar></app-snackbar>
</div>