/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0;  font-family: -apple-system, system-ui, BlinkMacSystemFont,'Roboto', sans-serif; }

.mat-mdc-snack-bar-container {
    &.snackbar-err {
        --mdc-snackbar-container-color: #EA2027;
        --mdc-snackbar-supporting-text-color: #fff;
        --mat-snack-bar-button-color: #fff;

        .mdc-snackbar__label,
        .mdc-button__label {
            font-size: 16px;
        }
    }

    &.snackbar-success {
        --mdc-snackbar-container-color: #20bf6b;
        --mdc-snackbar-supporting-text-color: #fff;
        --mat-snack-bar-button-color: #fff;
    }
}

.mat-mdc-progress-spinner {
    z-index: auto;
}